@import '../herramientas/_variables';
@import '../herramientas/_queries';

//esta clase actúa como modificador implícito, ya que en la pagina 
//de index a esta clase le escribí distintas propiedades visuales
.contenedor-centrado__imagen{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.direccionamiento{
	justify-content: space-between;
	align-items: center;
	padding: 0 $gutter-grid;
	margin-bottom: $gutter-d;
	@include querie(tablet){
		padding: 0 $gutter-r;
	}
}
.direccionamiento__item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 100%;
	padding: 10px $gutter-d;
	border: 1px solid #ccc;
	&:hover{
		box-shadow: 0 3px 8px #ccc;
		transition: .2s;
	}
	@include querie(tablet){
		width: 100%;
		margin-bottom: 20px;
	}
}
.direccionamiento__titulo{
	font-family: 'Roboto';
	font-weight: bold;
	font-size: $title-1;
	margin-bottom: $gutter-d;
}
.direccionamiento__texto{
	font-family: 'Open sans';
	font-size: $title-2;
	text-align: justify;
	&:hover{
		cursor: default;
	}
	@include querie(tablet){
		font-size: $title-3;
	}
}
.icono-valores{
	margin-bottom: $gutter-d;
	width: 40px;
	height: 40px;
}

//modificador para reducir el ancho del titulo que dice "nuestro principio está fundamentado..."
.contenedor-centrado__texto--ancho{
	width: 550px;
	@include querie(tablet){
		width: auto;
	}
}