<!doctype html>
html(lang=es)
	head
		title Contacto - CLAPSAS
		meta(charset="utf-8")
		meta(name="title" content="CLAPSAS")
		meta(property="og:site_name" content="CLAPSAS")
		meta(name="description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://www.clapsas.com")
		meta(property="og:title" content="CLAPSAS")
		meta(property="og:description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/pages/contacto.css")
		link(rel="stylesheet", href="recursos/iconos-web/fontello/fontello.css")
		link(rel="stylesheet", href="recursos/iconos-web/font-awesome/css/font-awesome.min.css")
		link(rel="shortcut icon" href="recursos/logos/logo-clap-transparent.png" type="image/png")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900,900i")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
	body
		header.menu__contenedor
			div.menu__logo
				img(src="recursos/logos/logo-clap-transparent.png" class="logo-clap")
			nav(class="menu__contenedor__items" id="js-menu")
				ul
					li.menu__item
						a(href="index.html" class="menu__enlace") Home
					li.menu__item
						a(href="quehacemos.html" class="menu__enlace") ¿Qué hacemos?
					li.menu__item
						a(href="quienes-somos.html" class="menu__enlace") Quienes Somos
					li.menu__item
						a(href="contacto.html" class="menu__enlace menu__enlace--active") Contacto
					li.menu__item
						a(href="novedades.html" class="menu__enlace") Novedades


			div(class="menu__icono")
					p(id="js-icono")
						span(class="icon-menu-fontello")

		
		div(class="contenedor-formulario")
			div(class="formulario")
				img(src="recursos/logos/logo-clap-default-transparent.png" class="formulario__image")
				div(class="contenedor-inputs")
					form(id="js-formulario-contacto")
						div(class="contenedor__opciones")
							p(class="opciones__titulo") Tipo de contacto
							input(type="radio" name="tp" value="persona-empresarial" id="empresarial"  class="formulario__radio")  
							<label for="empresarial" class="formulario__label"> Jurídica </label>
							input(type="radio" name="tp" value="persona-juridica" id="persona" class="formulario__radio")  
							<label for="persona" class="formulario__label"> Persona </label>
						input(type="text" placeholder="Nombre" class="formulario__input" id="js-input-referencia")
						input(type="text" placeholder="Apellido" class="formulario__input")
						input(type="text" placeholder="Email" class="formulario__input")
						input(type="text" placeholder="Teléfono" class="formulario__input")
						

						textarea(placeholder="Mensaje" class="formulario__textarea" maxlength="200" title="Escriba el motivo por el que llegó a esta sección")
						input(type="submit" value="Enviar datos" class="formulario__submit" title="Este formulario aún no almacena información")
		
		footer(class="footer")
			div(class="footer-columna")
				p(class="footer-title") Consultoría Laboral y Arquitectura de Proyectos
				p(class="footer-item") Barranquilla - Colombia
				p(class="footer-item") Distrito Especial
				p(class="footer-item") Industrial y Portuario de Colombia
				p(class="footer-item") gerencia.clapsas@gmail.com
				p(class="footer-item") 3022872364 – 3012507441
				div(class="contenedor-socials")
					p(class="social facebook")
					p(class="social twitter")
					p(class="social instagram")
					p(class="social linkedin")
			div(class="footer-columna")
				p(class="footer-title") Conéctate con CLAPSAS
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Contáctanos
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") ¿Quieres invitarnos a un evento?
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Asesoría
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Conferencia
			div(class="footer-columna")
				p(class="footer-title") Acerca de la empresa
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") Misión & Visión
				p(class="footer-item") 
					a(href="quehacemos.html" class="footer-item__enlace") ¿Que hacemos?
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") ¿Quienés somos?

		script(src="js/menu-toggle.js")
		script(src="js/validacion-formulario.js")
