<!doctype html>
html(lang=es)
	head
		title Novedades en CLAPSAS
		meta(charset="utf-8")
		meta(name="title" content="CLAPSAS")
		meta(property="og:site_name" content="CLAPSAS")
		meta(name="description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://www.clapsas.com")
		meta(property="og:title" content="CLAPSAS")
		meta(property="og:description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/pages/novedades.css")
		link(rel="stylesheet", href="recursos/iconos-web/fontello/fontello.css")
		link(rel="stylesheet", href="recursos/iconos-web/font-awesome/css/font-awesome.min.css")
		link(rel="shortcut icon" href="recursos/logos/logo-clap-default-single.jpg")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900,900i")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
		
	body
		header(class="menu__contenedor")
			div.menu__logo
				img(src="recursos/logos/logo-clap-transparent.png" class="logo-clap")
			nav(class="menu__contenedor__items" id="js-menu")
				ul
					li.menu__item
						a(href="index.html" class="menu__enlace") Home
					li.menu__item
						a(href="quehacemos.html" class="menu__enlace") ¿Qué hacemos?
					li.menu__item
						a(href="quienes-somos.html" class="menu__enlace") Quienes Somos
					li.menu__item
						a(href="contacto.html" class="menu__enlace") Contacto
					li.menu__item
						a(href="novedades.html" class="menu__enlace menu__enlace--active") Novedades


			div(class="menu__icono")
					p(id="js-icono")
						span(class="icon-menu-fontello")

		div(class="banner")
			h1(class="banner__title") ¡Entérate de las novedades!
			p(class="banner__text") Con artículos informativos
			p(class="banner__text") Que te permitirán estar al día.
		
		section(class="seccion-articulos")
			h2(class="contenedor-centrado__texto") Artículos más recientes
			div(class="grid-1f-3c novedad-articulos")
				div(class="grid-1f-3c__item novedad-articulo__item")
					div(class="novedad-articulo__header")
						<a href="blog/nueva-normatividad.html"> <img class="novedad-articulo__header__imagen" src="recursos/imagenes/ceo-clap.jpg"> </a>
					div(class="novedad-articulo__footer")
						h3(class="novedad-articulo__footer__titulo") <a href="blog/nueva-normatividad.html" class="novedad-articulo__footer__titulo__enlace"> Norma para empresas de arquitectura</a>
						p(class="novedad-articulo__footer__fecha") 27/02/2018
						p(class="novedad-articulo__footer__parrafo") La nueva norma que rige a partir de este 25 de noviembre de 2018 es la nueva polemica que desatan las compañias de...
						a(href="blog/nueva-normatividad.html" class="novedad-articulo__footer__enlace") Ver más
				div(class="grid-1f-3c__item novedad-articulo__item")
					div(class="novedad-articulo__header")
						<a href="blog/empresa-satisfecha.html"> <img class="novedad-articulo__header__imagen" src="recursos/imagenes/arquitectura-clap.jpg"> </a>
					div(class="novedad-articulo__footer")
						h3(class="novedad-articulo__footer__titulo") <a href="blog/empresa-satisfecha.html" class="novedad-articulo__footer__titulo__enlace"> Empresa satisfecha</a>
						p(class="novedad-articulo__footer__fecha") 15/11/2017
						p(class="novedad-articulo__footer__parrafo") La empresa Planet Heart la cual confió en nosotros obtuvo...
						a(href="blog/empresa-satisfecha.html" class="novedad-articulo__footer__enlace") Ver más
				div(class="grid-1f-3c__item novedad-articulo__item")
					div(class="novedad-articulo__header")
						<a href="blog/cursos-de-altura.html"> <img class="novedad-articulo__header__imagen" src="recursos/imagenes/seguridad-en-clap.jpg"> </a>
					div(class="novedad-articulo__footer")
						h3(class="novedad-articulo__footer__titulo") <a href="blog/curso-de-altura.html" class="novedad-articulo__footer__titulo__enlace"> Cursos de altura </a>
						p(class="novedad-articulo__footer__fecha") 28/05/2018
						p(class="novedad-articulo__footer__parrafo") Para poder trabajar en oficios tales como albañileria o construccion, se requiere un curso de altura que permita...
						a(href="blog/cursos-de-altura.html" class="novedad-articulo__footer__enlace") Ver más

		footer(class="footer")
			div(class="footer-columna")
				p(class="footer-title") Consultoría Laboral y Arquitectura de Proyectos
				p(class="footer-item") Barranquilla - Colombia
				p(class="footer-item") Distrito Especial
				p(class="footer-item") Industrial y Portuario de Colombia
				p(class="footer-item") gerencia.clapsas@gmail.com
				p(class="footer-item") 3022872364 – 3012507441
				div(class="contenedor-socials")
					p(class="social facebook")
					p(class="social twitter")
					p(class="social instagram")
					p(class="social linkedin")
			div(class="footer-columna")
				p(class="footer-title") Conéctate con CLAPSAS
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Contáctanos
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") ¿Quieres invitarnos a un evento?
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Asesoría
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Conferencia
			div(class="footer-columna")
				p(class="footer-title") Acerca de la empresa
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") Misión & Visión
				p(class="footer-item") 
					a(href="quehacemos.html" class="footer-item__enlace") ¿Que hacemos?
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") ¿Quienés somos?

	script(src="js/menu-toggle.js")
	script(src="js/modal-mini-galeria.js")