<!doctype html>
html(lang=es)
	head
		title ¿Qué hacemos en CLAPSAS?
		meta(charset="utf-8")
		meta(name="title" content="CLAPSAS")
		meta(property="og:site_name" content="CLAPSAS")
		meta(name="description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://www.clapsas.com")
		meta(property="og:title" content="CLAPSAS")
		meta(property="og:description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/pages/quehacemos.css")
		link(rel="stylesheet", href="recursos/iconos-web/fontello/fontello.css")
		link(rel="shortcut icon" href="recursos/logos/logo-clap-default-single.jpg")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900,900i")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
		
	body
		header.menu__contenedor
			div.menu__logo
				img(src="recursos/logos/logo-clap-transparent.png" class="logo-clap")
			nav(class="menu__contenedor__items" id="js-menu")
				ul
					li.menu__item
						a(href="index.html" class="menu__enlace") Home
					li.menu__item
						a(href="quehacemos.html" class="menu__enlace menu__enlace--active") ¿Qué hacemos?
					li.menu__item
						a(href="quienes-somos.html" class="menu__enlace") Quienes Somos
					li.menu__item
						a(href="contacto.html" class="menu__enlace") Contacto
					li.menu__item
						a(href="novedades.html" class="menu__enlace") Novedades


			div(class="menu__icono")
					p(id="js-icono")
						span(class="icon-menu-fontello")
		

		div(class="banner")
			h1(class="banner__title") Nosotros impulsamos su proyecto
			p(class="banner__text") A través de la Arquitectura & Consultoría Laboral
			p(class="banner__text") con los mejores estándares de calidad.


		div(class="grid-4x5")
			div(class="grid-4x5__item" id="item-1")
				img(class="grid-4x5__image" src="recursos/imagenes/seguridad-en-clap.jpg")
				div(class="grid-4x5__filter")
					p(class="grid-4x5__filter__text") Mantenimiento
			div(class="grid-4x5__item" id="item-2") 
				img(class="grid-4x5__image" src="recursos/imagenes/integrantes-clap.jpg")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") Acompañamientos
			div(class="grid-4x5__item" id="item-3")
				img(class="grid-4x5__image" src="recursos/imagenes/inspecciones-clapsas.jpg")
				div(class="grid-4x5__filter")
					p(class="grid-4x5__filter__text") Avalúos
			div(class="grid-4x5__item" id="item-4")
				img(class="grid-4x5__image" src="recursos/imagenes/asistencia-clap.jpg")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") Capacitaciones
			div(class="grid-4x5__item" id="item-5")
				img(class="grid-4x5__image" src="recursos/imagenes/clap.png")
				div(class=" grid-4x5__filter")
			div(class="grid-4x5__item" id="item-6")
				img(class="grid-4x5__image" src="recursos/imagenes/portada-clap.png")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") 
			div(class="grid-4x5__item" id="item-7")
				img(class="grid-4x5__image" src="recursos/imagenes/construccion-clap.jpg")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") Asesorías
			div(class="grid-4x5__item" id="item-8")
				img(class="grid-4x5__image" src="recursos/imagenes/equipo-trabajo.jpg")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") 
			div(class="grid-4x5__item" id="item-9")
				img(class="grid-4x5__image" src="recursos/imagenes/handshake.jpg")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") Interventoria de obra
			div(class="grid-4x5__item" id="item-10")
				img(class="grid-4x5__image" src="recursos/imagenes/mantenimiento-clap.jpg")
				div(class=" grid-4x5__filter")
					p(class="grid-4x5__filter__text") Diseño y construccion de redes

		div(class="tarjeta-horizontal")
			section(class="tarjeta-horizontal__item")
				div(class="tarjeta-horizontal__header")
					img(src="recursos/imagenes/equipo-emergencias-clap.jpg" class="tarjeta-horizontal__header__imagen")
				div(class="tarjeta-horizontal__footer")
					p(class="tarjeta-horizontal__footer__titulo") Más de 5 años de experiencia
					p(class="tarjeta-horizontal__footer__parrafo") Nos detacamos en la realización de nuestras labores de seguridad laboral por el gran equipo que nos acompaña.
			section(class="tarjeta-horizontal__item")
				div(class="tarjeta-horizontal__header")
					img(src="recursos/imagenes/disenos-clap.jpg" class="tarjeta-horizontal__header__imagen")
				div(class="tarjeta-horizontal__footer")
					p(class="tarjeta-horizontal__footer__titulo") Somos profesionales en el área 
					p(class="tarjeta-horizontal__footer__parrafo") Nuestro historial de proyectos nos dan una visión fresca y seria de la arquitectura y la seguridad laboral.
		
		footer(class="footer")
			div(class="footer-columna")
				p(class="footer-title") Consultoría Laboral y Arquitectura de Proyectos
				p(class="footer-item") Barranquilla - Colombia
				p(class="footer-item") Distrito Especial
				p(class="footer-item") Industrial y Portuario de Colombia
				p(class="footer-item") gerencia.clapsas@gmail.com
				p(class="footer-item") 3022872364 – 3012507441
				div(class="contenedor-socials")
					p(class="social facebook")
					p(class="social twitter")
					p(class="social instagram")
					p(class="social linkedin")
			div(class="footer-columna")
				p(class="footer-title") Conéctate con CLAPSAS
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Contáctanos
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") ¿Quieres invitarnos a un evento?
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Asesoría
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Conferencia
			div(class="footer-columna")
				p(class="footer-title") Acerca de la empresa
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") Misión & Visión
				p(class="footer-item") 
					a(href="quehacemos.html" class="footer-item__enlace") ¿Que hacemos?
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") ¿Quienés somos?

	script(src="js/menu-toggle.js")
	script(src="js/modal-galeria.js")
	script(src="js/contenido-dinamico-galeria.js")
	script(src="js/contenido-dinamico-galeria-modal.js")