<!doctype html>
html(lang=es)
	head
		title Quienés Somos - CLAPSAS
		meta(charset="utf-8")
		meta(name="title" content="CLAPSAS")
		meta(property="og:site_name" content="CLAPSAS")
		meta(name="description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://www.clapsas.com")
		meta(property="og:title" content="CLAPSAS")
		meta(property="og:description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/pages/quienes-somos.css")
		link(rel="stylesheet", href="recursos/iconos-web/fontello/fontello.css")
		link(rel="stylesheet", href="recursos/iconos-web/font-awesome/css/font-awesome.min.css")
		link(rel="shortcut icon" href="recursos/logos/logo-clap-default-single.jpg")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900,900i")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
		
	body(id="js-modal-padre")
		header(class="menu__contenedor", id="js-modal-referencia")
			div.menu__logo
				img(src="recursos/logos/logo-clap-transparent.png" class="logo-clap")
			nav(class="menu__contenedor__items" id="js-menu")
				ul
					li.menu__item
						a(href="index.html" class="menu__enlace") Home
					li.menu__item
						a(href="quehacemos.html" class="menu__enlace") ¿Qué hacemos?
					li.menu__item
						a(href="quienes-somos.html" class="menu__enlace  menu__enlace--active") Quienes Somos
					li.menu__item
						a(href="contacto.html" class="menu__enlace") Contacto
					li.menu__item
						a(href="novedades.html" class="menu__enlace") Novedades


			div(class="menu__icono")
					p(id="js-icono")
						span(class="icon-menu-fontello")

		div(class="banner")
			h1(class="banner__title") Nosotros somos CLAPSAS
			p(class="banner__text") El mejor aliado para lo que usted necesita.
			
		div(class="contenedor-centrado gutter-bottom--auxiliar")
			h2(class="contenedor-centrado__texto") Somos una firma constituida en Barranquilla
			p(class="contenedor-centrado__parrafo") Que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.

		div(class="grid-2f-2c")
			div(class="grid-2f-2c__item grid-2f-2c__span-2")
				img(src="recursos/imagenes/integrantes-clap.jpg" class="galeria-2f-2c__imagen")
			div(class="grid-2f-2c__item")
				img(src="recursos/imagenes/seguridad-en-clap.jpg" class="galeria-2f-2c__imagen")
			div(class="grid-2f-2c__item")
				img(src="recursos/imagenes/equipo-humano.jpg" class="galeria-2f-2c__imagen")
		

		div(class="display-skew")
			h3(class="franja__titulo") Estrictos principios de eficiencia
			p(class="franja__subtitulo") apoyados de transparencia y valores éticos.
			div(class="display-skew__child__first")
			div(class="display-skew__child__second")
		div(class="grid-1f-2c direccionamiento")
			div(class="direccionamiento__item") 
				p(class="direccionamiento__titulo") Nuestra misión
				img(src="recursos/svg/briefcase.svg" class="icono-valores")
				p(class="direccionamiento__texto") Promover el desarrollo social, cultural y económico mediante la prestacion de servicios de consultoría laboral y proyectos de arquitectura, ofreciendo confianza, rentabilidad y desarrollo a sus clientes y aliados.

			div(class="direccionamiento__item")
				p(class="direccionamiento__titulo") Nuestra visión
				img(src="recursos/svg/license.svg" class="icono-valores")
				p(class="direccionamiento__texto") Ser una empresa sólida, líder a nivel nacional en la prestación de consultoría laboral y proyectos de arquitectura, convirtiéndonos en aliados estratégicos indispensables para nuestros clientes.

		div(class="contenedor-centrado gutter-bottom--auxiliar")
			h2(class="contenedor-centrado__texto contenedor-centrado__texto--ancho") Nuestro principio está fundamentado en el liderazgo e innovación
			img(src="recursos/svg/man-2.svg" alt="Estamos creciendo a escala, sé parte de nuestra evolución" class="contenedor-centrado__imagen")
			p(class="contenedor-centrado__parrafo") Por eso creemos que nuestros clientes deben intervenir en nuestros procesos y ser parte del cambio.

		footer(class="footer")
			div(class="footer-columna")
				p(class="footer-title") Consultoría Laboral y Arquitectura de Proyectos
				p(class="footer-item") Barranquilla - Colombia
				p(class="footer-item") Distrito Especial
				p(class="footer-item") Industrial y Portuario de Colombia
				p(class="footer-item") gerencia.clapsas@gmail.com
				p(class="footer-item") 3022872364 – 3012507441
				div(class="contenedor-socials")
					p(class="social facebook")
					p(class="social twitter")
					p(class="social instagram")
					p(class="social linkedin")
			div(class="footer-columna")
				p(class="footer-title") Conéctate con CLAPSAS
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Contáctanos
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") ¿Quieres invitarnos a un evento?
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Asesoría
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Conferencia
			div(class="footer-columna")
				p(class="footer-title") Acerca de la empresa
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") Misión & Visión
				p(class="footer-item") 
					a(href="quehacemos.html" class="footer-item__enlace") ¿Que hacemos?
				p(class="footer-item") 
					a(href="quienes-somos.html" class="footer-item__enlace") ¿Quienés somos?

	script(src="js/menu-toggle.js")
	script(src="js/modal-mini-galeria.js")