//fuente
$title-1 : 24px;
$title-2 : 18px;
$title-3 : 16px;
$title-4 : 14px;
$title-5 : 13px;
$header-1 : 38px;
$header-2 : 33px;
$header-3 : 30px;

//espaciado default
$gutter-grid   : 90px;
$gutter-d: 20px; //espacio en pantallas desktop
$gutter-r: 15px; //espacio en pantallas responsive
$gutter-blog: 180px; //gutter especial para el contenido del blog
$gutter-grid-2 : 80px;

//colores
$gris   : #494A4A;
$gris-2 : #999;
$gris-3 : #DFE0E0;
$rojo   : #F04322;
$bg-footer : #282D31;
$text-footer: #797D73;
$bg-social: #5F6265;
$blue-elegant: #092A35;

//colores redes sociales
$color-fb  : #3B5998;
$color-tw  : #55ACEE;