@import '../herramientas/_variables';
@import '../herramientas/_queries';
.grid-1f-3c{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: $gutter-d;
	width: 100%;
	padding: 0 $gutter-grid;
	@media screen and (max-width: 1024px){
		padding: 0 $gutter-r;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	@media screen and (max-width: 650px){
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
}