<!doctype html>
html(lang=es)
	head
		title Nueva normatividad para constructoras | CLAPSAS
		meta(charset="utf-8")
		meta(name="title" content="CLAPSAS")
		meta(property="og:site_name" content="CLAPSAS")
		meta(name="description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://www.clapsas.com")
		meta(property="og:title" content="CLAPSAS")
		meta(property="og:description" content="Somos una firma constituida en Barranquilla que promueve servicios de consultoría laboral, gerencia de proyectos inmobiliarios y acompañamiento a empresas e instituciones que buscan crecer a gran escala.")
		meta(name="viewport", content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="../css/pages/estilos-blog/nueva-normatividad.css")
		link(rel="stylesheet", href="../recursos/iconos-web/fontello/fontello.css")
		link(rel="stylesheet", href="../recursos/iconos-web/font-awesome/css/font-awesome.min.css")
		link(rel="shortcut icon" href="../recursos/logos/logo-clap-transparent.png" type="image/png")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900,900i")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
		
	body
		header(class="menu__contenedor")
			div.menu__logo
				img(src="../recursos/logos/logo-clap-transparent.png" class="logo-clap")
			nav(class="menu__contenedor__items" id="js-menu")
				ul
					li.menu__item
						a(href="../index.html" class="menu__enlace") Home
					li.menu__item
						a(href="../quehacemos.html" class="menu__enlace") ¿Qué hacemos?
					li.menu__item
						a(href="../quienes-somos.html" class="menu__enlace") Quienes Somos
					li.menu__item
						a(href="../contacto.html" class="menu__enlace") Contacto
					li.menu__item
						a(href="../novedades.html" class="menu__enlace menu__enlace--active") Novedades


			div(class="menu__icono")
					p(id="js-icono")
						span(class="icon-menu-fontello")

		div(class="banner")
			h1(class="banner__title") La norma que rige a constructuras
			p(class="banner__text") Entra en vigencia este año
			p(class="banner__text") Para acabar con antiguos problemas.

		section(class="layout-blog")
			h2(class="blog-titulo") El gobierno anunció que este 25 de marzo
			p(class="blog-parrafo") Inicia el proceso para terminar con un grave problema que acabó con la tranquilidad de muchas emrpesas constructoras durante muchos años. Para los que no recuerdan, en el año 2002 las empresas constructoras cada 3 meses tenían que darle al gobierno el 25% de sus ganancias como recompensa para subsanar el daño causado al medio ambiente.
			div(class="blog-tematica")
				img(src="../recursos/imagenes/asistencia-clap.jpg" class="blog-tematica__imagen")
			p(class="blog-parrafo") Tal como lo dijo el señor presidente Juan Manuel Santos: "Este robo contra las empresas tiene que acabarse, por eso he decidido reunir al vicepresidente y al Ministro de Industria y Comercio, para así abrir una mesa de dialogo entre los representantes de cada empresa colombiana que esté siendo afectada por esta problemática".
			p(class="blog-parrafo") Luego de su visita a la ciudad de Santa Marta, el presidente se reunió con el alcalde de dicha ciudad para precisamente dar a conocer la nueva norma que rige a las empresas constructoras en esa y todas las ciudades del país.

			h2(class="blog-subtitulo") Puntos a favor para las empresas:

			ol(class="blog-lista")
				li(class="blog-lista__item") Mayor ganancia en sus ingresos
				li(class="blog-lista__item") Reducción de costos en IVA
				li(class="blog-lista__item") Mayor oportunidad para nuevo personal
				li(class="blog-lista__item") Agilización de proyectos en espera
			
			p(class="blog-parrafo") Inicia el proceso para terminar con un grave problema que acabó con la tranquilidad de muchas emrpesas constructoras durante muchos años. Para los que no recuerdan, en el año 2002, las empresas constructoras cada 3 meses tenían que darle al gobierno el 25% de sus ganancias como recompensa para subsanar el daño causado al medio ambiente.

			iframe(src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fclapsas.webcindario.com%2Fblog%2Fnueva-normatividad.html&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")

		footer(class="footer")
			div(class="footer-columna")
				p(class="footer-title") Consultoría Laboral y Arquitectura de Proyectos
				p(class="footer-item") Barranquilla - Colombia
				p(class="footer-item") Distrito Especial
				p(class="footer-item") Industrial y Portuario de Colombia
				p(class="footer-item") gerencia.clapsas@gmail.com
				p(class="footer-item") 3022872364 – 3012507441
				div(class="contenedor-socials")
					p(class="social facebook")
					p(class="social twitter")
					p(class="social instagram")
					p(class="social linkedin")
			div(class="footer-columna")
				p(class="footer-title") Conéctate con CLAPSAS
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Contáctanos
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") ¿Quieres invitarnos a un evento?
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Asesoría
				p(class="footer-item") 
					a(href="contacto.html" class="footer-item__enlace") Servicios de Conferencia
			div(class="footer-columna")
				p(class="footer-title") Acerca de la empresa
				p(class="footer-item") 
					a(href="../quienes-somos.html" class="footer-item__enlace") Misión & Visión
				p(class="footer-item") 
					a(href="../quehacemos.html" class="footer-item__enlace") ¿Que hacemos?
				p(class="footer-item") 
					a(href="../quienes-somos.html" class="footer-item__enlace") ¿Quienés somos?
		script(src="../js/menu-toggle.js")