@import '../herramientas/_variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open sans';
	color: $gris;
}

body{
	background-color: #fafafa;
}

.icon-menu-fontello{
	font-size: 31px;
}